*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.nav-main{
    position: fixed;
    top: 0;
    z-index:20;
    background: #FF5858;
    width: 100%;
    height: 10vh;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 30%);
}

.nav-main nav{
    max-width: 1220px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-main nav .logo{
  
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-main nav .logo h3{
    margin-left: 20px;
    color: rgb(58, 57, 57);
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;

}
.nav-main nav .logo img{
    height: 40px;
    width:40px;
}
.nav-main nav .nav-list{
    display: flex;
}
.nav-main nav .nav-list li{
    list-style: none;
    margin: 0 20px;
}
.nav-main nav .nav-list li a{
    color: rgb(58, 57, 57);
    text-decoration: none;
        font-size: 20px;
        transition: 0.3s;
}
.nav-main nav .nav-list li a:hover{
    color: #fff;
}
@media screen and (max-width: 522px){
    .nav-main nav .logo{
  
        margin: 0 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-main nav .logo h3{
        margin-left: 12px;
        color: rgb(58, 57, 57);
        font-family: 'Archivo Black', sans-serif;
        font-size: 20px;
    
    }
    .nav-main nav .nav-list li{
        list-style: none;
        margin: 0 10px;
    }
    .nav-main nav .nav-list li a{
        font-size: 17px;
    }
}
.main{
    /* height: 100vh; */
}
.search-container{
    box-shadow: 0px 0px 0px white, 0px -3px 10px #333;
    /* box-shadow: 0px -3px -10px rgb(0 0 0 / 30%); */
    width: 100%;
    height: 3vh;
    z-index: 9099;
    background: rgb(58, 57, 57);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.search-container .trapezoid{
    filter: drop-shadow(-2px -4px 3px #222);
    /* box-shadow: 0px 0px 0px white, 0px -3px 10px #333; */
    border-bottom: 80px solid #FF5858;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	height: 0;
    width: 90%;
    padding: 0 0;
    display: flex;
    justify-content: center;
    margin: 0 0px;
}
.search-container .control{
    display: flex;
    justify-content: center;
}
.search-container .control{
    width: 100%;
}
.search-container .control input{
    border: 2px solid rgb(58, 57, 57);
    /* max-width: 480px; */
   
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 100px;
    text-align: center;
    margin: 10px 10px;
    padding: 0 0px;
}
@media screen and (min-width: 700px){
    .search-container .trapezoid{
        max-width: 500px;
    }
}
body{
    background-image: linear-gradient(to bottom right,#333,#6d459b,#2aace0,#55a878,#333);
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background: linear-gradient(115.2deg, #6BFFA6 11.47%, #65C8FF 58.77%, #987BD6 100.38%); */
	background-size: 200% 200%;
	animation: gradient 10s linear infinite forwards;
    
}
@keyframes gradient{
	0% {
		background-position: 5% 5%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 5% 5%;
	}
}
.main .wrapper{
    margin: 10vh 0;
    /* padding: 5vh 0; */
    animation: article-load 300ms ease-in;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 1;
    
    height: 90vh;
    background: rgba(0, 0, 0, 0.2);


   
    overflow-y: scroll;
    overflow-x: hidden;
}

@keyframes article-load{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
html{
    overflow: hidden;   
  }
/* width */

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.9);  */
    border-radius: 10px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(51,51,51); 
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 56, 56); 
  }
.main .wrapper > h3{
    /* margin-top: 100px; */
    font-size: clamp(3rem, 8vw, 6rem);
    color: white;
    font-family: 'Archivo Black', sans-serif;
    padding: 20px 0px;

}

.poke-container{
    /* margin-top: 1vh; */

    /* height: 100%; */
    margin:40px auto 60px ;
    padding: 0px 0;
    max-width: 1200px;

}

.poke-container .pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* background: rgba(238, 238, 238, 0.664); */
    background: rgba(238, 238, 238, 0.4);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    border: 2px solid rgb(58, 58, 58);
    list-style: none;
}
.poke-container .pokemon:hover > .img-container img{
    transform: scale(1.4, 1.4);
    transition: 1000ms ease;
    
}
.poke-container #pokedex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-gap: 20px; */
    padding-inline-start: 0;
}
.poke-container .pokemon .img-container {

    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: relative;
}
.poke-container .pokemon .img-container img{
    /* position: absolute;
    top: 0;
    left: 0; */
    transition: 1000ms ease;
    transform: scale(1, 1);
    height: 100%;
    width: 100%;
}
.poke-container .pokemon .info{
    margin-top: 20px;
}

.poke-container .pokemon .number{
    background: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 15px;
}

.poke-container .pokemon .name{
    margin: 10px 0 7px;
	letter-spacing: 1px;
    /* text-transform: capitalize ; */
    color: rgb(54, 54, 54);
}

/* popup */
.poke-container #pokedex .popup{
    animation: popup 300ms ease-in;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 1;
    margin-bottom: 40px;

}
@keyframes popup{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@media screen and (max-width: 700px){

    .poke-container #pokedex .popup .pokemon .img-container{
        height: auto;
        max-width: 250px;
        background: none;
    }
}
.poke-container #pokedex .popup .pokemon{
    padding: 20px 20px 0px 20px;
    cursor: unset;
    border: unset;
    background: unset;
    box-shadow: unset;
    background-image: linear-gradient(180deg,transparent,#fff);
    margin: 10px;
}
.poke-container #pokedex .popup .pokemon h3{
    font-size: 2.5rem;
    color: white;
}
.poke-container #pokedex .popup .pokemon:hover > .img-container img{
    transform: unset;
    transition: unset;
}
.poke-container #pokedex .popup .pokemon .img-container{
    height: auto;
    width: 400px;
    background: none;
}
/* info */
.poke-container #pokedex .popup .info{
    display: flex;
    flex-direction: column;
    
    cursor: pointer;
    /* background: rgba(238, 238, 238, 0.664); */
    background: rgb(255, 246, 246);
    border-radius: 20px;
    /* padding: 20px; */
    margin: 15px 10px;
    text-align: center;
    box-shadow: 0 2px 4px #333;
    cursor: unset;
   
}
.poke-container #pokedex .popup .info h3{
    color: white;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
    background-color: #414040;
    padding: 5px 10px;
    text-align: left;

}
.poke-container #pokedex .popup .info .about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}
.poke-container #pokedex .popup .info .about .number{
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.poke-container #pokedex .popup .info .about p{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 300;
}
.poke-container #pokedex .popup span{
    margin: 0 10px;
}
.poke-container #pokedex .popup span i{
    font-size: 40px;
    cursor: pointer;
    color: rgb(54, 54, 54);
    transition: 0.3s;
}
.poke-container #pokedex .popup span i:hover{
    font-size: 40px;
    cursor: pointer;
    color: rgb(68, 68, 68);
}

/* 
@media screen and (max-width: 694px){
    .poke-container{

        width: 100%;
    }
    
    .poke-container .pokemon{
        width: 90%;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        background: rgba(238, 238, 238, 0.664);
        border-radius: 20px;
      margin: 10px auto;
      padding: 5px 20px;
        text-align: center;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        border: 2px solid rgb(58, 58, 58);
        z-index: 9;
    }
    .poke-container .pokemon .info{
   margin: 0;
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    .poke-container .pokemon .img-container {
        margin: 10px 15px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        height: auto;
        width: 120px;
    }
    .poke-container .pokemon .img-container img{
        height: 100%;
        width: 100%;
    }
    .poke-container .pokemon .name{
        margin: 0px 19px;
        letter-spacing: 1px;
    }
} */